#edit-container li {
    display: flex;
    padding: 15px;
    border-top: 2px solid rgb(236, 236, 236);
    cursor: pointer;
    flex-wrap: wrap;
    gap: 5px;
}

#edit-container li p{
    font-weight: 500;
    color: #001250;
}