.container {
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  gap: 30px;
  padding-top: 2rem;
}

#edit-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#preview-container {
  /* border: 1px solid black; */
  width: 21cm;
  height: 29.7cm;
  display: grid;
  grid-template-columns: 8cm 1fr;
  background: linear-gradient(176deg, rgba(187,115,224,1) 0%, rgba(255,141,219,1) 100%);
}

@media screen and (max-width: 1000px) {
  #preview-container {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form input {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgb(170, 170, 170);
}

.form label {
  font-weight: 500;
}

.form input:focus {
  outline: 2px solid rgba(236,0,140,1);
}

.form .buttons {
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.form button {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.form .save-btn {
  background: linear-gradient(163deg, rgba(236,0,140,1) 0%, rgba(252,103,103,1) 100%);
  color: #FFF;
}

